.footer {
    padding: 35px 0;
    color: #fff;
    background: $w-color-primary;
    box-shadow: $w-def-box-shadow;

    .footer-logo{
        svg{
            fill: #ffffff;
            path{
                fill: #ffffff;
            }
        }
    }

    &-inner {
        @extend .alignwide;
    }

    &-item {
        margin: .75em 0;
    }


    a {
        color: inherit;

        &:hover {
            color: $w-link-color-default;
        }
    }


    // -------------------------------------------
    // Links im Menü und im Adressblock

    &-menu,
    &-contact {

        a:not(.w-btn) {
            color: inherit;

            &:hover {
                //color: $w-link-color-default;
            }
        }
    }


    // -------------------------------------------
    // Textbereich

    &-text {
        :first-child {
            margin-top: 0;
        }
    }


    // -------------------------------------------
    // Social Media Box

    &-social {
        .social {
            font-size: 1.2em;
        }
    }


    // -------------------------------------------
    // Social Media Box

    &-menu {

        ul {
            @extend .w-list;
            @extend .w-list--inline;
            font-size: $w-font-size-small;
            li{
                width: 100%;
                a{

                }
            }
        }
    }
}
