.footer {
    padding: 35px 0 0 0;
    color: #fff;
    background: $w-color-primary;
    box-shadow: $w-def-box-shadow;

    .footer-logo{
        max-width: 150px;
        margin: 0;
        svg{
            fill: #ffffff;
            path{
                fill: #ffffff;
            }
        }
    }

    &-inner {
        @extend .alignwide;
    }

    &-item {
        margin: .75em 0;
    }


    a {
        color: inherit;
        position: relative;
        &:hover {

        }
    }


    // -------------------------------------------
    // Links im Menü und im Adressblock

    &-menu,
    &-contact {

        a:not(.w-btn) {
            color: inherit;

            &:hover {
                //color: $w-link-color-default;
            }
        }
    }


    // -------------------------------------------
    // Textbereich

    &-text {
        :first-child {
            margin-top: 0;
        }
    }


    // -------------------------------------------
    // Social Media Box

    &-social {
        .social {
            font-size: 1.2em;
            .w-svg{
                width: 1.5em;
                height: 1.5em;
            }
        }
    }


    // -------------------------------------------
    // Social Media Box

    &-menu {

        ul {
            @extend .w-list;
            @extend .w-list--inline;
            font-size: $w-font-size-small;
            display: flex;
            justify-content: flex-end;
            li{
                a{

                }
            }
        }
    }
    .meta-footer{
        background: $w-color-light;
        padding: 10px 0;
        margin-top: 50px;
    }
}
