
// WHATS-APP-BUTTON

.whatsapp-button{
    position: fixed;
    z-index: 9999;
    bottom: 5px;
    right: 10px;
    width: 50px;
}

// OFFCANVAS
.offcanvas{
    text-align: center;
    .sub-menu{
        li{
            a{
                font-weight: 600;
            }
        }
    }
}

.header {
    transform: translateY(0) !important;
    transition: all .3s;

    .nav-list ul ul{
        transform: none;
        left: 0;
    }

    &--sticky,
    &--fixed {
        z-index: 400;
        right: 0;
        left: 0;
        top: 0;
    }

    &--sticky {
        position: sticky;
    }

    &--fixed {
        position: fixed;
    }

    &--scrolled {
        background: $w-color-white;
        box-shadow: $w-def-box-shadow;
        .header-inner {
            //padding: 1.2em 0;
        }
        .header-item--logo svg{
            @media(min-width: $breakpoint-large) {
                width: 180px;
            }
        }
    }


    // -----------------------------------------------
    // -----------------------------------------------
    // Inner Settings

    &-inner {
        //box-shadow: $w-def-box-shadow;
        font-family: map-get($w-fonts, secondary);
        //background: $w-color-white;
        font-weight: 500;
        padding: 1.75em 0em;
    }

    &-container {
        @extend .alignfull;
        justify-content: space-between;
        //background: $w-color-white;
        align-items: center;
        display: flex;
    }


    // -----------------------------------------------
    // -----------------------------------------------
    // Header Items / Elements

    &-col {
        display: flex;
        align-items: center;
    }


    // -----------------------------------------------
    // Items

    &-item {
        &:not(:first-child) {
            margin-left: .75em;
        }


        // -----------------------------------------------
        // Logo

        &--logo {

            img, svg {
                transition: all .2s ease-in-out;
                margin-bottom: -7px;
                width: 110px;
                display: block;
                margin: 0 auto;

                @media(min-width: $breakpoint-small) {
                    width: 180px;
                }

                @media(min-width: $breakpoint-large) {
                    width: 230px;
                }
            }
        }


        // -----------------------------------------------
        // Navigation Wrapper

        &--nav {

            a {
                font-weight: bold;
                font-size: 1.3em;

            }
            ul.sub-menu a {
                font-weight: normal;
            }
            ul.sub-menu li{
                margin-right: 0;
            }

            & + .header-item {
                margin-left: 1.5em;
            }
            // mehr in _navigation.scss
        }


        // -----------------------------------------------
        // Navigation Mobile

        &--mobile {
            a {
                background: w-color(primary);
                color: $w-color-white;
                padding: 1em;
            }
        }
    }
}
